
@import 'semantic';

/* My Styles */

body{
  background: #996666;
}

.footer {
  height: 30px;
}



/*IMAGES*/

.profile {
  width: 100%;
}

.work{
  width: 65%;
}

/*TYPE*/

h1,
h3,
{  
  color: white;
}

.designer{
  padding-bottom: 2%;
  border-bottom: white solid 1.5px;
}

p {
  color: white;
  padding-top: 3%;
}