
@import 'semantic';

/* My Styles */

body{
  background: #996666;
}


.profile {
  width: 100%;
}

h1,
h3,
{  
  color: white;
}

h3{
  padding-bottom: 2%;
  border-bottom: white solid 1.5px;
}

p {
  color: white;
}