
@import 'semantic';
@import url(https://fonts.googleapis.com/css?family=Anton|Quicksand);

/* My Styles */

body{
  background: #996666;
  font-family: 'Quicksand', sans-serif;
}

.footer {
  height: 30px;
}

#information{
  background: black;
}





/*IMAGES*/

.profile {
  width: 100%;
}

.work{
  width: 65%;
}






/*TYPE*/

h1,
h3,
{  
  color: white;
  letter-spacing: 1px;
  font-family: 'Anton', sans-serif;
}

h1{
  font-size: 3em;
}

h3{
  font-size: 1.5em;
}

.designer{
  padding-bottom: 2%;
  border-bottom: white solid 1.5px;
}

p {
  color: white;
  padding-top: 3%;
}

.contact,
.number{
  display: inline-block;
  padding-right: 5%;
}

.phone,
.email{
  display: inline-block;
  width: 7%;
  padding-right: 3%;
}







